body {
	margin: 0px;
}

#home {
	font-family: Helvetica, Arial;
	text-align: left;
	margin: auto;
	width: 520px;
}

#home a:hover {
	text-decoration: underline;
}

#navigation {
	position: fixed;
	color: #999;
	width: 100%;
	top: 0px;
	height: 27px;
	font-size: 13px;
	font-weight: bold;
	background: url(../images/navigation.png) repeat-x;
	padding-top: 5px;
	padding-left: 5px;
	right: -4px;
}

#navigation ul {
	margin: 0px;
	padding: 0px;
	display: inline;
}

#navigation li {
	list-style: none;
	display: inline;
	//background: url(../images/breadcrumb.png) no-repeat right;
	text-shadow: #000 0px 1px;
	padding-top: 5px;
	padding-right: 15px;
	padding-bottom: 5px;
}

#navigation li a {
	text-decoration: none;
	color: #fff;
	padding: 8px 10px 8px 5px;
}

#gradient {
	background: url(../images/navigation-gradient.png) repeat-x;
	border-right: 1px solid #999;
	position: relative;
	padding-top: 5px;
	display: inline;
	color: white;
	text-shadow: #666 0px -1px;
	white-space: pre;
	padding-bottom: 6px;
	right: 5px;
}

#gradient span {
	//background: no-repeat url(../images/breadcrumb-gradient.png);
	border-right: solid #999 1px;
	margin-right: -15px;
	position: relative;
	right: 15px;
	padding: 5px 9px 6px 25px;
}

#promo {
	font-size: 16pt;
	font-weight: bold;
	text-align: center;
	float: left;
	width: 225px;
	padding-right: 12px;
	padding-top: 10px;
	margin-right: 15px;
	margin-left: 9px;
	margin-top: 50px;
	line-height: 0.9em;
}

#promo a {
	text-decoration: none;
	color: #999999;
	overflow: scroll;
	font-weight: bold;
	font-size: 9pt;
}

#topics {
	float: left;
	border-left: solid #e5e5e5 2px;
	width: 220px;
	margin-top: 65px;
	padding-top: 3px;
	padding-left: 25px;
}

#topics ul {
	list-style: none;
	padding: 0px;
}

#topics a {
	text-decoration: none;
	color: black;
	font-weight: bold;
	font-size: 12pt;
	line-height: 1.4em;
}

#topics li {
	color: #999999;
	font-weight: bold;
	padding-bottom: 15px;
	padding-top: 6px;
	font-size: 9pt;
	line-height: 15px;
}

#egg {
	color: white;
}
