body {
	font-family: Helvetica;
	color: #666666;
	font-size: 10pt;
	margin: 50px 25px 25px 25px;
}

a {
	text-decoration: none;
	color: #446fc3;
}

a:hover {
	text-decoration: underline;
}

#tasks {
	margin-top: 20px;
}

#tasks ul {
	padding: 0px;
}

#tasks li {
	font-weight: bold;
	font-size: 10pt;
	list-style: none;
	border: 1px solid #bfbfbf;
	color: #333333;
	background: #f2f2f2;
	display: block;
	margin-top: 10px;
}

#tasks li:hover {
	background: #e7edfd;
}

#tasks a {
	color: black;
	text-decoration: none;
	display: block;
	padding: 10px;
}

.tasktitle {
	color: black;
	font-weight: bold;
	background: no-repeat url(../images/logoSmall.png);
	padding-left: 40px;
	font-size: 22pt;
	margin-bottom: 14px;
}

.taskbox {
	background-color: #e7edfd;
	border: solid #bfbfbf 1px;
	padding-left: 16px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-right: 16px;
}

.taskbox ol {
	margin-left: -20px;
	margin-bottom: 5px;
}

.taskbox li {
	padding-bottom: 8px;
	line-height: 16px;
}

.taskbox span {
	padding-right: 2px;
}

.tipbox {
	border: solid #a3a3a3 1px;
	border-top-color: #a3a3a3;
	padding-left: 15px;
	margin-bottom: 20px;
	padding-right: 15px;
}

.tipbox ol {
	margin-left: -20px;
}

.tipbox li {
	padding-bottom: 5px;
}

.tipboxtitle {
	color: white;
	font-weight: bold;
	background: #a3a3a3 url(../images/tip.png) no-repeat 10px;
	margin-top: 20px;
	padding: 6px 6px 4px 30px;
}

.tipbox span img {
	float: right;
	margin: 15px 0px 20px 15px;
}

.overflow {
	clear: right;
}

img {
	margin-left: 4px;
	margin-right: 4px;
	vertical-align: -7px;
}

img.left {float: left; margin: 2px 10px 5px 0; border: 0;}


td {
	padding-right: 10px;
	padding-bottom: 3px;
}
